* {
  list-style-type: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eee;
}

.row {
  padding: 10px;
}

.card {
  border: 10px solid #ffe;
  border-bottom-color: orange;
  background-color: #ffe;
  border-radius: 10px;
}

.comment-button {
  background-color: transparent;
  border: none;
}

.bi-heart-fill {
  color: black;
}

#modal {
  position: fixed;
  width: 100%;
  height: 1000%;
  padding: 10px;
  top: -30px;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

#details {
  height: auto;
}

.col-sm-6 {
  font-size: 10px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.likes {
  font-size: 12px;
}

.likes::after {
  content: " Likes";
  margin-left: 5px;
}
